<div style="color: black;padding: 0 20px 0 20px"><h2>Hello I am statistics dashlet</h2>
    <div>There is some statistics for this ID: {{this._statisticsId}}</div>
    <ul>
        <li>Total income: $22130</li>
        <li>Taxes paid: $22100</li>
    </ul>
</div>