<div style="position: absolute; padding:30px; min-height: 100%; width: 100%; background: #fff;">
   <div style="padding-bottom:15px;">Welcome, How Can I help?</div>
   <input id="startFauxSiri" type="button" value="Start Faux Siri" class="btn btn-primary">
   <input id="stopFauxSiri" type="button" value="Done" class="btn btn-danger hide">
</div>


