{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="control-group">
    <label class="control-label">{{label}}</label>
    <div class="controls">
        <span class="input-wrapper">
        {{#if value}}
            <img width="60px" height="60px" src="{{value}}" alt="" />
        {{else}}
            <input type="text" placeholder="{{str 'Tap to Sign'}}">
        {{/if}}
        </span>
    </div>
</div>
